<h1><%= @house.name %></h1>
	<d/>
		<dt>colors : </dt>
		<dt><%= @house.colors %></dt>
		<dt>points : </dt>
		<dt><%= @house.points %></dt>
		<dt>location : </dt>
		<dt><%= @house.location %></dt>
		<dt>slogan : </dt>
		<dt><%= @house.slogan %></dt>

	</dl>

<h3>Students</h3>
	<ul>
	<% @house.people.each do |person| %>

		<li><%= link_to person.name, person %></li>
	<% end %>
	</ul>
